<nav class=" navbar-expand-lg navbar-expand-sm navbar navbar-dark nav-bar">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div style="width: 80%">
        <ul class="navbar-nav">
          <li class="nav-item ">
            
          </li>

          <li class="nav-item " >
              <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['member']">Register as a Member</a>
          </li>
          <li class="nav-item " >
            <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['memberlist']">List members</a>
        </li>
        <li class="nav-item " >
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['bookingcalendar']">Booking Calendar</a>
      </li>
          
        </ul>
      </div>
      
    </div>
  </nav>
