$dafm-grey: (
  50: #f7f9fa,
  100: #ecf1f3,
  200: #dfe8eb,
  300: #d2dfe2,
  400: #c8d8dc,
  500: #bed1d6,
  600: #b8ccd1,
  700: #afc6cc,
  800: #a7c0c6,
  900: #99b5bc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #f6fdff,
  A700: #ddf8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$dafm-blue: (
  50: #e0e9eb,
  100: #b3c9ce,
  200: #80a5ad,
  300: #4d808c,
  400: #266574,
  500: #004a5b,
  600: #004353,
  700: #003a49,
  800: #003240,
  900: #00222f,
  A100: #68cbff,
  A200: #35b9ff,
  A400: #02a8ff,
  A700: #0098e7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$dafm-gold: (
  50: #f8f5e1,
  100: #eee7b3,
  200: #e3d780,
  300: #d8c64d,
  400: #cfba27,
  500: #c7ae01,
  600: #c1a701,
  700: #ba9d01,
  800: #b39401,
  900: #a68400,
  A100: #fff4d0,
  A200: #ffe89d,
  A400: #ffdb6a,
  A700: #ffd551,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$dafm-red: (
  50: #f5e4e1,
  100: #e5bab4,
  200: #d48d83,
  300: #c35f51,
  400: #b63c2b,
  500: #a91a06,
  600: #a21705,
  700: #981304,
  800: #8f0f03,
  900: #7e0802,
  A100: #ffadac,
  A200: #ff7b79,
  A400: #ff4946,
  A700: #ff302c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
