$breakExtraSmall: 576px;
$breakSmall: 768px;
$breakMedium: 992px;
$breakLarge: 1200px;
$max-width: 1500px;

$default-margin-width: 16px;
$medium-margin-width: 24px;
$large-margin-width: 40px;

$default-border-radius: 4px;